extend ' .mobile-menu ul.open' has no matches
extend ' .mobile-menu ul' has no matches
extend ' .mobile-menu li' has no matches
.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
.main_menu {
  color: #FFF;
}
.main_menu > li {
  position: relative;
  font-weight: bold;
}
.main_menu > li:hover,
.main_menu a.current {
  background: #FFF;
  color: #222222;
}
.main_menu > li:hover ul {
  display: block;
}
.main_menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: inherit;
}
.main_menu ul {
  font-weight: normal;
  position: absolute;
  padding: 1rem 0;
  left: 0;
  top: 100%;
  z-index: 0;
  display: none;
  width: 300px;
  background: #FFF;
  color: #000000;
  box-shadow: 0 3px 5px #555555;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li:hover,
.main_menu ul li a.current {
  background: #ff2934;
  color: #FFF;
}
@media only screen and (min-width: 800px) {
  .main_menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    z-index: 105;
    text-align: center;
    font-size: 0;
  }
  .main_menu >* {
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
  }
  .main_menu > li + li {
    margin-left: 2rem;
  }
  .index-page .main_menu {
    bottom: 5.5rem;
  }
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureditem,
.relatedpages {
  font-size: 0;
}
.featureditem >*,
.relatedpages >* {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-left: 2%;
  margin-right: 0;
  width: 49%;
  margin-bottom: 2%;
}
.featureapage:nth-of-type(2n + 1),
.featureditem li:nth-of-type(2n + 1),
.relatedpages li:nth-of-type(2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  position: relative;
  overflow: hidden;
}
.featureapage .page-teaser-image img,
.featureditem li .page-teaser-image img,
.relatedpages li .page-teaser-image img {
  -webkit-transform: scale(1.01, 1.01);
  -ms-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  transition: all ease 0.5s;
}
.featureapage .page-teaser-image::after,
.featureditem li .page-teaser-image::after,
.relatedpages li .page-teaser-image::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.featureapage .page-title,
.featureditem li .page-title,
.relatedpages li .page-title,
.featureapage span,
.featureditem li span,
.relatedpages li span {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  color: #FFF;
  opacity: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-filter: blur(0);
}
.featureapage .page-title,
.featureditem li .page-title,
.relatedpages li .page-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.35;
  font-weight: 700;
  z-index: 1;
  transition: all 0.3s;
}
@media only screen and (min-width: 800px) {
  .featureapage:hover .page-teaser-image img,
  .featureditem li:hover .page-teaser-image img,
  .relatedpages li:hover .page-teaser-image img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .featureapage:hover .page-teaser-image::after,
  .featureditem li:hover .page-teaser-image::after,
  .relatedpages li:hover .page-teaser-image::after {
    background: rgba(0, 0, 0, 0);
  }
}
.featureapage:hover .page-title,
.featureditem li:hover .page-title,
.relatedpages li:hover .page-title,
.featureapage:hover span,
.featureditem li:hover span,
.relatedpages li:hover span {
  opacity: 0;
}
.featureditem.categories {
  background: #222222;
}
@media only screen and (min-width: 800px) {
  .featureditem.categories {
    border-bottom: 1px solid #222222;
  }
}
.featureditem.categories li {
  position: relative;
  margin-left: 0%;
  margin-right: 0;
  width: 25%;
  margin-bottom: 0;
}
.featureditem.categories li:nth-of-type(4n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureditem.categories li {
    width: 50%;
  }
  .featureditem.categories li:nth-of-type(n) {
    margin-left: 0%;
  }
  .featureditem.categories li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureditem.categories li {
    width: 100%;
  }
  .featureditem.categories li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .featureditem.categories li {
    border-right: 1px solid #222222;
    border-top: 1px solid #222222;
  }
  .featureditem.categories li:nth-child(4n) {
    border-right: none;
  }
}
.featureditem.categories span {
  display: none;
  padding-top: 2.8em;
  pointer-events: none;
}
.featureditem.catalog li {
  padding: 1em;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 480px) {
  .featureditem.catalog li {
    padding: 0;
  }
}
.featureapage {
  float: left;
}
.news-item {
  padding: 1em;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 480px) {
  .news-item {
    padding: 0;
  }
}
.cycle-slideshow .news-item {
  background: none;
  padding: 0;
  border: none;
}
.cycle-slideshow .news-item .news-item-image {
  background: #FFF;
}
.news-item .news-item-image {
  position: relative;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
}
.news-item .news-item-image img {
  width: 100%;
  -webkit-transform: scale(1.01, 1.01);
  -ms-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  transition: all ease 0.5s;
}
.news-item .news-item-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}
@media only screen and (min-width: 800px) {
  .news-item .news-item-image:hover::after {
    background: rgba(0, 0, 0, 0);
  }
  .news-item .news-item-image:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
.news-item .news-item-title {
  display: block;
  line-height: 1;
}
.news-item .newslog-admin-actions {
  display: block;
}
.news-item .news-item-date {
  display: block;
  margin-top: 0.5em;
  font-size: 0.75em;
  font-weight: bold;
}
.news-item .news-item-date::before {
  font-weight: bold;
  padding-right: 0.5em;
  margin-top: -0.25em;
}
@media only screen and (max-width: 800px) {
  .news-item .news-item-date {
    margin-bottom: 0.5em;
  }
}
.news-item .news-item-description {
  display: block;
}
.news-item .news-item-tags {
  display: block;
}
.news-container {
  margin-top: 2.7rem;
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: false;
  -ms-flex-direction: false;
  flex-direction: false;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.news-container >* {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.news-container .news-item {
  margin-left: 2%;
  margin-right: 0;
  width: 49%;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.news-container .news-item:nth-of-type(2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .news-container .news-item {
    width: 49%;
  }
  .news-container .news-item:nth-of-type(n) {
    margin-left: 2%;
  }
  .news-container .news-item:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .news-container .news-item {
    width: 100%;
  }
  .news-container .news-item:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .news-container .news-item {
    margin-bottom: 2%;
  }
}
.news-container .news-item-title {
  background: rgba(0, 0, 0, 0.02);
  color: #222222;
  text-decoration: none;
  padding: 0.7em;
  font-weight: 700;
  line-height: 1;
  font-family: Montserrat, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  text-transform: uppercase;
  font-size: 1.2em;
  transition: all 0.3s;
}
@media only screen and (max-width: 800px) {
  .news-container .news-item-title {
    font-size: 0.8em;
    line-height: 1.2;
  }
}
.news-container .news-item-title:hover {
  color: #ff2934;
}
@media only screen and (max-width: 480px) {
  .news-container .news-item-date {
    padding-left: 1.33em;
  }
}
.news-room {
  margin-top: 2.7rem;
}
.news-room .news-item {
  position: relative;
}
.news-room .news-item + .news-item {
  margin-top: 2.7rem;
}
.news-room .news-text {
  padding: 0 1.5em;
}
@media only screen and (min-width: 1026px) {
  .news-room .news-text {
    padding: 1em 1.5em;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-filter: blur(0);
  }
}
@media only screen and (min-width: 800px) {
  .news-room .news-text .divider {
    padding-bottom: 0;
  }
}
.news-room .news-item-title {
  font-size: 1.25em;
  margin-bottom: 0;
}
.news-room .news-item-date {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 800px) {
  .news-room .news-item-date {
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width: 800px) {
  .news-room .news-item-image {
    margin-bottom: 1.5rem;
  }
}
.mfp-container .mfp-arrow-left:after,
.mfp-container .mfp-arrow-left .mfp-a {
  border-right: 17px solid #ff2934;
}
.mfp-container .mfp-arrow-right:after,
.mfp-container .mfp-arrow-right .mfp-a {
  border-left: 17px solid #ff2934;
}
.mfp-container .mfp-figure::after {
  background: #FFF;
}
.mfp-container .mfp-figure .mfp-close {
  right: 0;
  color: #ff2934;
}
@media (min-width: 801px) {
  body .mobile-bar,
  body .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding-top: 56px;
  }
  body[data-menu-open],
  body[data-overlay],
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body[data-overlay]::after,
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 110;
  font-family: "Roboto", Tahoma, Arial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
.mobile-bar.top {
  top: 0;
  line-height: 56px;
  color: #FFF;
  background: #ff2934;
}
.mobile-bar.top .btn.icon {
  width: 56px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  56px );
  margin-right: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn {
  line-height: inherit;
  width: 56px;
  color: inherit;
  border: none;
  -webkit-box-flex: 0 0 56px;
  -webkit-flex: 0 0 56px 0 auto;
  -ms-flex: 0 0 56px 0 auto;
  flex: 0 0 56px 0 auto;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.tabs {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 48px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.sub-menu-btn::before {
  content: "\e0ac";
  font-family: flexkit-icons;
  color: #bbbbbb;
}
.sub-menu-btn:hover::before,
.sub-menu-btn.active::before {
  content: "\e0aa";
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    z-index: 112;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #555555;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 16px;
  }
  .menu-btn.left {
    padding-left: 0;
  }
  .menu-btn.left.active::before {
    margin-left: -11.2px;
    margin-right: 16.8px;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -11.2px;
    margin-left: 16.8px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 120;
  overflow: auto;
  background: #FFFFFF;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: auto;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.right a {
  padding-left: 16px;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: auto;
  padding: 1em;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul {
  position: relative;
}
.m-menu ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a {
  padding-left: 48px;
}
.m-menu ul.open {
  display: block !important;
}
.m-menu li {
  float: none;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}
.m-menu li a {
  padding: 0 16px 0 28px;
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 800px) {
  .m-menu li a {
    color: #222222;
  }
}
.m-menu li a:hover,
.m-menu li a.current {
  background: #f2f2f2;
  color: #ff2934;
}
.m-menu li:hover {
  background: transparent;
  color: inherit;
}
.m-menu li:hover ul {
  display: none;
}
.m-menu li li {
  border: none;
}
.m-menu li li + li {
  border-top: 1px solid #f2f2f2;
}
@media only screen and (max-width: 800px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
.mobile-menu.dropdown,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #646768 !important;
  position: absolute;
  z-index: 112 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open,
.mobile-menu.dropdown.open {
  display: block;
}
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left {
  left: 0;
  right: auto;
}
.dropdown-menu.top,
.mobile-menu.dropdown.top,
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right {
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
.mobile-menu.dropdown.top.inner,
.dropdown-menu.top-left.inner,
.mobile-menu.dropdown.top-left.inner,
.dropdown-menu.top-right.inner,
.mobile-menu.dropdown.top-right.inner {
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
.mobile-menu.dropdown.bottom,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
.mobile-menu.dropdown.bottom.inner,
.dropdown-menu.bottom-left.inner,
.mobile-menu.dropdown.bottom-left.inner,
.dropdown-menu.bottom-right.inner,
.mobile-menu.dropdown.bottom-right.inner {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top {
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
.mobile-menu.dropdown.left,
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom {
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
.mobile-menu.dropdown.left.inner,
.dropdown-menu.left-top.inner,
.mobile-menu.dropdown.left-top.inner,
.dropdown-menu.left-bottom.inner,
.mobile-menu.dropdown.left-bottom.inner {
  left: 0;
  right: auto;
}
.dropdown-menu.right,
.mobile-menu.dropdown.right,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
.mobile-menu.dropdown.right.inner,
.dropdown-menu.right-top.inner,
.mobile-menu.dropdown.right-top.inner,
.dropdown-menu.right-bottom.inner,
.mobile-menu.dropdown.right-bottom.inner {
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 10px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 10px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
  right: 10px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 10px;
  right: auto;
}
