.img_gallery when (@image-gallery) {
    margin-top: 2.7rem;
    .inline-block-wrap();

    li {
        padding: 1em;
        @media only screen and (max-width: @responsive-size-mobile) {
            padding: 0;
        }
        .grid-elements(2; @grid-margin-width; true; 2; 2);
        margin-bottom: 2%;
        background: @primary-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    a {
        display: block;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            .scale(1.01);
            .transition(all ease 0.5s);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .rgba(#000000; 2%);
            .transition();
        }
        @media only screen and (min-width: @responsive-size-tablet) {
            &:hover {
                &::after {
                    .rgba(#000000; 0%);
                }
                img {
                    .scale(1.1);
                }
            }
        }
    }

    .image_caption {
        margin-bottom: 0;
        background: @brand-primary;
        color: @primary-color;
        text-decoration: none;
        padding: 0.7em;
        font-weight: 700;
        line-height: 1;
        font-family: @font-family-headings;
        text-transform: uppercase;
        font-size: 1.2em;
        .text-overflow();
        .transition();
        @media only screen and (min-width: @responsive-size-tablet) {
            margin-right: 25%;
        }
    }
    .product-gallery & {
        margin-top: 1rem;
        max-height: 450px;
        overflow-y: auto;
        li {
            display: none;
            &:nth-child(1), &:nth-child(2) {
                .inline-block();
            }
        }
        &.visible {
            li {
                .inline-block();
            }
        }
    }
    .tabs & {
        margin-top: 0;
        margin-bottom: -2%;
        li{
            .grid-elements(3; @grid-margin-width; true; 2; 2);
        }
    }
}