.img_gallery when (@image-gallery) {
    margin-top: 2.7rem;
    .inline-block-wrap();

    li {
        .grid-elements(2; @grid-margin-width; true; 1; 1);
        margin-bottom: 1.5rem;
    }

    a {
        display: block;
        position: relative;
        img {
            width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .transition();
        }
        &:hover {
            &::before {
                .rgba(#000000; 30%);
            }
        }
    }

    .image_caption {
        margin-bottom: 0;
        background: @brand-primary;
        color: @primary-color;
        text-decoration: none;
        padding: 0.7em;
        font-weight: 700;
        line-height: 1;
        font-family: @font-family-headings;
        text-transform: uppercase;
        font-size: 1.2em;
        .text-overflow();
        .transition();
        @media only screen and (min-width: @responsive-size-tablet) {
            margin-right: 25%;
        }
    }
}