.news-item when (@widget-news-list) {

    .news-item-image {
        position: relative;
        display: block;
        img {
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .transition();
        }
        &:hover{
            &::before{
                .rgba(#000000; 30%);
            }
        }
    }

    .news-item-title {
        display: block;
    }

    .newslog-admin-actions {
        display: block;
        a {
        }
    }

    .news-item-date {
        display: block;
    }

    .news-item-description {
        display: block;
    }

    .news-item-tags {
        display: block;
        a {
        }
    }

    .newslog-tag-filter {

    }
}

.news-container {
    margin-top: 2.7rem;
    .inline-block-wrap();
    .news-item {
        .grid-elements(2; @grid-margin-width; true; 1; 1);
        margin-bottom: 1.5rem;
    }
    .news-item-title {
        background: @brand-primary;
        color: @primary-color;
        text-decoration: none;
        padding: 0.7em;
        font-weight: 700;
        line-height: 1;
        font-family: @font-family-headings;
        text-transform: uppercase;
        font-size: 1.2em;
        .text-overflow();
        .transition();
        &:hover {
            color: #000000;
        }
        @media only screen and (min-width : @responsive-size-tablet) {
            margin-right: 25%;
        }
    }
    .news-item-date {
        margin-top: 0.5em;
        font-size: 0.75em;
        font-weight: bold;
        &::before{
            font-weight: bold;
            padding-right: 0.5em;
            margin-top: -0.25em;

        }
    }
}

.news-room{
    margin-top: 2.7rem;
    .news-item{
        & + .news-item{
            margin-top: 2.5em;
        }
    }
}