//	PAGE Style
//==================================================
html when (@widget-rotator-full-height) {
    height: 100%;
}

body {
    // custom scroll-bar
    .scroll-bar();
    & when (@widget-rotator-full-height) {
        height: 100%;
    }
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    position: relative;
    background: @header-bg;
    color: @header-color;

    // -- LOGO Style
    .logo {
        text-decoration: none;
        margin: 0;
        text-align: center;
        line-height: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 101;
        .translate(-50%; -50%);
        a {
            color: @primary-color;
            display: block;
            text-decoration: none;
            &:hover {
                color: inherit;
            }
            span {
                color: @primary-color;
                display: inherit;
            }
        }

        img {
        }
    }
    .index-page & {
        height: 100%;
        .logo {
            @media only screen and (min-width: @responsive-size-mobile) {
                margin-top: -5.8rem;
            }
        }
    }
    &.parallax {
        background-color: @gray-light;
    }
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom: 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    h2 {
        margin-top: 0;
    }
    .footer-columns {
        margin-top: 5rem;
        margin-bottom: 5rem;
        div[class*="icon"] {
            .inline-block();
            padding-left: 3.5em;
            padding-top: 0.5em;
            &::before {
                float: left;
                margin-top: -0.2em;
                margin-left: -1.45em;
                font-size: 2.4em;
                color: @gray-darker;
            }
        }
        a{
            color: @text-color;
            &:hover{
                color: @brand-primary;
            }
        }
    }
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(@black, 50%); fade(@black, 50%); @primary-color; @primary-bg; @primary-bg);
}

.sp-tp {
    padding-top: 7.5rem;
}

.sp-bm {
    padding-bottom: 7.5rem;
}

.dark-section {
    a {
        color: @primary-color;
        &:hover {
            color: @brand-primary;
        }
    }
    h2, p {
        color: @primary-color;
    }
}

.map {
    pointer-events: none;
}