//	PAGE Style
//==================================================
html when (@widget-rotator-full-height) {
    height: 100%;
}

body {
    // custom scroll-bar
    .scroll-bar();
    & when (@widget-rotator-full-height) {
        height: 100%;
    }
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    position: relative;
    background: @header-bg;
    color: @header-color;

    // -- LOGO Style
    .logo {
        text-decoration: none;
        margin: 0;
        text-align: center;
        line-height: 0.7;
        a {
            color: @primary-color;
            display: block;
            text-decoration: none;
            &:hover {
                color: inherit;
            }
            span {
                color: @primary-color;
                display: inherit;
            }
        }

        img {
        }
    }
    .index-page & {
        height: 100%;
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 101;
            .translate(-50%; -50%);
            @media only screen and (min-width : @responsive-size-mobile) {
                margin-top: -5.1rem;
            }
        }
    }
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom: 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-columns {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.sp-tp {
    padding-top: 7.5rem;
}

.sp-bm {
    padding-bottom: 7.5rem;
}

.dark-section {
    a {
        color: @primary-color;
        &:hover {
            color: @brand-primary;
        }
    }
    h2 {
        color: @primary-color;
    }
}

.map{
    pointer-events: none;
}