//	PAGE Style
//==================================================
html when (@widget-rotator-full-height) {
    height: 100%;
}

body {
    // custom scroll-bar
    .scroll-bar();
    & when (@widget-rotator-full-height) {
        height: 100%;
    }
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    position: relative;
    background: @header-bg;
    color: @header-color;

    // -- LOGO Style
    .logo {
        text-decoration: none;
        margin: 0;
        text-align: center;
        line-height: 0.7;
        a {
            color: @primary-color;
            display: block;
            text-decoration: none;
            &:hover{
                color: inherit;
            }
            span {
                color: @primary-color;
                display: inherit;
            }
        }

        img {
        }
    }
    .index-page & {
        height: 100%;
    }
}

.header-top{
    position: absolute;
    padding-top: 31vh;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 101;
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom: 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    padding: @padding-larger-vertical * 2 0;
    background: @footer-bg;
    color: @footer-color;
    font-size: @font-size-small;
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
